{% extends "posts/base.html" %}
{% block content %}
<center><h2>Welcome to BlackFly Blogging App</h2></center> 
<center><p><h4>Please Login here to start BLOGGING. :-)</h4></p></center>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="POST" action="{% url "login" %}">
{% csrf_token %}
<center><table>
<tr>
	<td>{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
</tr>
<tr>
	<td>{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
</tr>
</table>
<p>
<p><input type="submit" value="Login" /></p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</p>
<p><a href="{% url "register" %}">New to us? Register here</a></p>
{% endblock %}
</center>